<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/add.css" />
    <link rel="icon" type="image/png" href="/images/add.png" />
    <title>Add Task</title>
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="viewTask">View Task</a></li>
        <li><a href="addTask">Add Task</a></li>
        <li><a href="editTask">Edit Task</a></li>
      </ul>
    </nav>
    <div class="card-container">
      <h1>Add Task Page</h1>
      <form id="create-task" action="createTask" method="post">
        <h2>Add New Task</h2>

        <div>
          <label>
            Task Title: <input type="text" id="title" name="title" />
          </label>
        </div>
        <div>
          <label>
            Description:
            <textarea id="description" name="description"></textarea>
          </label>
        </div>

        <div>
          <label>Priority:</label>
          <label><input type="radio" name="priority" value="High" />Low</label>
          <label
            ><input type="radio" name="priority" value="Medium" />Medium</label
          >
          <label><input type="radio" name="priority" value="Low" />High</label>
        </div>
        <div>
          <label>
            Task Type:
            <select id="type" name="type" title="Please select a type">
              <option value="general">Please select</option>
              <option value="work">Work</option>
              <option value="school">School</option>
              <option value="personal">Personal</option>
              <option value="financial">Financial</option>
              <option value="health">Health</option>
              <option value="travel">Travel</option>
            </select>
          </label>
        </div>

        <div>
          <input id="button" type="submit" value="Add" />
        </div>
      </form>
    </div>
  </body>
</html>
