<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/edit.css" />
    <link rel="icon" type="image/png" href="/images/edit.png" />
    <title>Edit Task</title>
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="viewTask">View Task</a></li>
        <li><a href="addTask">Add Task</a></li>
        <li><a href="editTask">Edit Task</a></li>
      </ul>
    </nav>
    <div class="card-container">
      <h1>Edit Task Page</h1>

      <! need to figure out a way to display search form on initial page visit and then display the tasks from the searchList object after clicking search button -->

      <form id="form" action="searchTask" method="post">
        <h2>Search Task</h2>
        <label
          >By Task Title: <input type="text" id="title" name="title"
        /></label>
        <label
          >By Start Date: <input type="date" id="startDate" name="startDate"
        /></label>
        <label
          >By End Date: <input type="date" id="endDate" name="endDate"
        /></label>
        <label
          >By Date Created: <input type="date" id="created" name="created"
        /></label>
        <label
          >By Location: <input type="text" id="location" name="location"
        /></label>
        <label
          >By Task Type:
          <select id="type" name="type" title="Please select a type">
            <option value="">Please select</option>
            <option value="Work">Work</option>
            <option value="School">School</option>
            <option value="Personal">Personal</option>
            <option value="Financial">Financial</option>
            <option value="Health">Health</option>
            <option value="Travel">Travel</option>
          </select>
        </label>
        <label
          >By Task Priority:
          <select id="type" name="type" title="Please select a type">
            <option value="">Please select</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </label>
        <label
          >By Task Status:
          <select id="status" name="status" title="Please select a status">
            <option value="">Please select</option>
            <option value="Not Started">Not Started</option>
            <option value="In Progress">In Progress</option>
            <option value="Overdue">Overdue</option>
            <option value="Completed">Completed</option>
            <option value="Canceled">Cancelled</option>
          </select>
        </label>
        <input id="button" type="submit" value="Search" />
      </form>
    </div>
  </body>
</html>
