<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="icon" type="image/png" href="/images/complete.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <title>Completed Task History</title>
  </head>
  <body>
    <main>
      <div class="card-container">
        <div class="card-nav">
          <a href="/"><i class="bi bi-house-door"></i></a>
          <h1 class="card-header">Completed Tasks</h1>
          <div></div>
        </div>

        <!-- Dynamically generate completed date and task title links -->

        <div class="task-list-container">
          <% completedList.forEach(task => { %>
          <a href="/viewTask/<%= task.taskId %>" class="card-link">
            <div class="card-list">
              <p class="card-list-item">
                <%= new Date(task.completedDate).toLocaleDateString("en-US", {
                dateStyle: "medium" }) %>
              </p>
              <p class="card-list-item"><%= task.title %></p>
            </div>
          </a>
          <% }); %>
        </div>
      </div>
    </main>
  </body>
</html>
