<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="icon" type="image/png" href="/images/home.png" />
  <title>Task Manager</title>
</head>
<body>
  <nav>
    <ul id="navigation">
      <li><a href='/'>Home</a></li>
      <li><a href='viewTask'>View Task</a></li>
      <li><a href='addTask'>Add Task</a></li>
      <li><a href='editTask'>Edit Task</a></li>
    </ul>
  </nav>
  <h1>Home Page</h1>
</body>
</html>